PREFIX=/
MONGODB_KEY="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<appname>"
BOT_PHONE=0123456789
OWNER_PHONE=0123456789
LOGS_CHANNEL=xxxxxxxxxxxxxx@g.us
